*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;

  &::selection {
    background-color: $color-main;
    color: $color-background;
  }

  @include respond(phone) {
    font-size: 50%;
  }
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: $color-text;
  background-color: $color-background;
  letter-spacing: 1.2px;
  overflow-x: hidden;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
video {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  cursor: pointer;
}
