@import "abstract.scss";
@import "base.scss";
@import "components.scss";

@import "pages/home.scss";
@import "pages/about.scss";
@import "pages/vision.scss";
@import "pages/services.scss";
@import "pages/gallery.scss";
@import "pages/faqs.scss";
@import "pages/footer.scss";
@import "pages/login.scss";
