.map {
  position: relative;
  inset: 0;
  padding: $space-xl 0;
  @include flex-col;

  &__header {
    @include header-main;
    justify-self: flex-start;
    align-self: flex-start;
    margin-left: $space-xl;
  }

  &__frame {
    margin-top: $space-lg;
    width: 100%;
    height: 85vh;
    border: 0;

    @include respond(phone) {
      height: 70vh;
    }
  }

  &__nav {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
}

.footer {
  padding: $space-2xl $space-3xl;
  background-color: $color-text;
  color: $color-background;

  @include respond(phone) {
    padding: $space-2xl $space-xl;
  }

  &__list {
    @include flex-row;
    gap: $space-2xl;
    align-items: flex-start;

    @include respond(phone) {
      flex-direction: column;
      gap: $space-lg;
    }

    &--detail {
      @include flex-col;
      gap: $space-md;
      width: 40rem;

      &--header {
        @include flex-row;
        gap: $space-md;
        font-size: $font-base;
        font-weight: 400;

        &--icon {
          font-size: $font-xl;
        }
      }

      &--answer {
        font-size: $font-sm;
        font-weight: 300;
        text-align: center;
        line-height: 1.8;

        @include flex-col;

        &--link {
          color: $color-background;
          transition: all 0.3s;

          &:hover {
            color: $color-white;
          }
        }
      }

      &--list {
        @include flex-row;
        gap: $space-md;
      }
    }
  }
}
