.gallery {
  padding: $space-3xl $space-2xl;

  @include respond(phone) {
    padding: $space-2xl $space-lg;
  }

  &__header {
    @include header-main;
    margin-left: $space-3xl;

    &::after {
      width: 7.5%;
    }
  }

  &__box {
    position: relative;
    margin-top: $space-3xl;
    overflow: hidden;
    @include flex-col;
    gap: $space-sm;
    padding: $space-sm $space-md;
    width: 90vw;

    @include respond(phone) {
      margin-top: $space-xl;
    }

    &--fig {
      width: 100rem;
      height: 40rem;
      @include flex-row;
      overflow: hidden;

      @include respond(phone) {
        width: 100vw;
        height: auto;
      }

      &--track {
        @include flex-row;
        align-items: center;
        justify-content: flex-start;
        gap: $space-xxs;
        // width: max-content;
        width: 100%;
        height: inherit;
        transform: translateX(-151.2rem);
        transition: all 0.5s ease;

        @include respond(phone) {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          transform: translateX(0);
        }
      }

      &--img {
        width: 50rem;
        height: 40rem;
        object-fit: cover;
        flex: 0 0 auto;

        @include respond(phone) {
          width: 100%;
          height: 20rem;
        }
      }
    }

    &--arr {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      color: $color-main;
      border: none;
      background-color: $color-background;
      font-size: $font-3xl;
      transition: all 0.3s;

      &--left {
        left: 0;
      }

      &--right {
        right: 0;
      }

      @include respond(phone) {
        display: none;
      }
    }
  }
}
